.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.pyre/
.idea/$CACHE_FILE$
.idea/.gitignore
.idea/aiogram-bot-template.iml
.idea/codeStyles/
.idea/deployment.xml
.idea/dictionaries
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vagrant.xml
.idea/vcs.xml

.replit
poetry.lock
replit.nix
pyproject.toml

